@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: rgb(75, 73, 73);
  --foreground: #171717;
}
html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: rgb(75, 73, 73);
}

