@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: rgb(75, 73, 73);
  --foreground: #171717;
}
html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px);}
    to { opacity: 1; transform: translateY(0);}
}
.animate-fade-in {
    animation: fadeIn 0.5s;
}

body {
  background-color: rgb(75, 73, 73);
}

